<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Type" value="Decimal Number System"/>
    <add key="DllFile" value="DecimalNumberSystem.dll" />
    <add key="FirstNumber" value="101" />
    <add key="SecondNumber" value="11" />    
  </appSettings>
</configuration>